*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #ffffff;
    --secondary-color: #e8e8e8;

    --text-color: #000000;
    --button-color: #ffffff;

    --interaction-color: #1B90F4;
    --hover-color: rgba(27, 144, 244, .8);

    --valid-color: #32CD32;
    --invalid-color: #cc0000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-color: #282A37;
        --secondary-color: #3C404A;
    
        --text-color: #ffffff;
    }
}

body {
    background-color: var(
        --main-color
    );
    color: var(
        --text-color
    );
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 7em;
}


nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: fixed;
    width: 100%;
    gap: .25em;
    z-index: 2;
    padding: .5em 0;
    background-color: var(--main-color);
    box-shadow: .1em .1em .5em var(--main-color);
    max-width: 700px;
}

nav ul li {
    background-color: var(--interaction-color);
    padding: .5em;
    margin: 0 .5em;
    border-radius: .5em;
    font-size: 1rem;
    width: 25vw;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: var(--button-color);
}


main {
    max-width: 900px;
    margin: 0 auto;   
}

form {
    z-index: 1;
    max-width: 500px;
    margin: 0 auto;
    padding: .5em;
}

fieldset {
    margin: 2em 0;
    border: none;
}

legend {
    padding: .2em 0;
    color: var(--text-color);
    margin-left: 0;
}

input {
    display: flex;
    margin-bottom: 1em;
    position: relative;
    background-color: var(
        --secondary-color
    );
    border:none;
    
    color: var(
        --text-color
    )
}

input[type="text"],
input[type="number"],
input[type="email"]{
    margin-top: .5em;
    padding: .8em;
    width: 100%;
    border-radius: .8em;
}


input[type="text"]:not(:focus):not(:placeholder-shown):invalid {
    border-bottom: 2px solid var(--invalid-color);
}

input[type="text"]:not(:focus):not(:placeholder-shown):valid {
    border-bottom: 2px solid var(--valid-color);
}

input[type="radio"] {
    opacity: 0;  
}

form label:has(input:checked) {
    background-color: var(--interaction-color);
    color: var(--button-color);
} 

.radioset {
    display: flex;
    width: 100%;
}

.radioset label {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    outline: 1px solid var(--main-color);
    display: flex;
    background-color: var(--secondary-color);
    cursor: pointer;
}

.radioset label:hover,
.radioset label:focus,
.radioset input[type="radio"]:focus {
    background-color: var(--hover-color);
    color: white;
}

.radioset label:first-of-type {
    border-radius: .8em 0 0 .8em;
}

.radioset label:last-of-type {
    border-radius: 0 .8em .8em 0;
}

.radioset label span {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
}

input[type="submit"] {
    margin-left: auto;
    background-color: var(
        --interaction-color
    );
    color: var(--button-color);
    padding: .8em 1.5em;
    border-radius: .4em;
    cursor: pointer;
}

button {
    background-color: var(
        --interaction-color
    );
    color: var(--button-color);
    border:0;
    border-radius: .4em;
    width: 2.5em;
    aspect-ratio: 1/1;
    cursor: pointer;
}

button:hover,
input[type="submit"]:hover {
    background-color: var(--hover-color);
}

.radioset label:has(:focus) {
    background-color: var(--hover-color);
    color: white;
}


body:has(#wafs:focus-within) nav ul li:first-of-type {
    outline: 2px solid var(--valid-color);
}

body:has(#wafs:valid) nav ul li:first-of-type{
    background-color: var(--valid-color);
}

body:has(#cssttr:valid) nav ul li:nth-of-type(2){
    background-color: var(--valid-color);
}

body:has(#pwa:valid) nav ul li:nth-of-type(3) {
    background-color: var(--valid-color);
}

body:has(#bt:valid) nav ul li:nth-of-type(4) {
    background-color: var(--valid-color);
}

body:has(#rtw:valid) nav ul li:nth-of-type(5) {
    background-color: var(--valid-color);
}

body:has(#hcd:valid) nav ul li:nth-of-type(6) {
    background-color: var(--valid-color);
}

#wafs,
#cssttr,
#pwa,
#bt,
#rtw,
#hcd {
    scroll-margin-top: 7em;
}

@supports not selector(:has(*)) {
    input[type="radio"] {
        opacity: 1;  
    }
}

@media screen and (min-width: 500px) {
    header {
        height: 3em;
    }

    nav ul {
        display: flex;
    } 

    #wafs,
    #cssttr,
    #pwa,
    #bt,
    #rtw,
    #hcd {
        scroll-margin-top: 5em;
    }
}